body {
    background: pink;
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    border: none;
}

textarea {
    width: 250px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
}
body {
    background: pink;
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

textarea {
    width: 260px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: red;
    font-size: 18px;
}
img {
    margin-bottom: 20px;
}

.letter {
    background: white;
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    font-size: 16px;
    color: #800040;
    line-height: 1.6;
}
img {
    border-radius: 20px;
    margin-bottom: 20px;
}
.memories {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.memories img {
    width: 200px;
    border-radius: 20px;
}
.memories img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}
.memories {
    display: flex;
    justify-content: center;
    gap: 15px;
}
